In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import env
from pydataset import data
import acquire
import prepare

# DATA AQUISITION EXERCISES

### 4. In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [6]:
df_iris = sns.load_dataset('iris')

#### print the first 3 rows

In [7]:
df_iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

#### print the number of rows and columns (shape)

In [8]:
df_iris.shape

(150, 5)

#### print the column names

In [9]:
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

#### print the data type of each column

In [10]:
df_iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

#### print the summary statistics for each of the numeric variables

In [11]:
df_iris.describe().T

              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

### 5. Read the data from this google sheet into a dataframe, df_google.

In [12]:
url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(csv_export_url)

#### print the first 3 rows

In [13]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

#### print the number of rows and columns

In [14]:
df_google.shape

(891, 12)

#### print the column names

In [15]:
df_google.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

#### print the data type of each column

In [16]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

#### print the summary statistics for each of the numeric variables

In [17]:
df_google.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

#### print the unique values for each of your categorical variables

In [18]:
df_google[['Survived', 'Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked']].apply(lambda col: col.unique())

Survived                   [0, 1]
Pclass                  [3, 1, 2]
Sex                [male, female]
SibSp       [1, 0, 3, 4, 2, 5, 8]
Parch       [0, 1, 2, 5, 3, 4, 6]
Embarked           [S, C, Q, nan]
dtype: object

In [19]:
# Another way for count of unique categories only:
for col in df_google.columns:
    if df_google[col].dtypes == 'object':
        print(f'{col} has {df_google[col].nunique()} unique values.')

Name has 891 unique values.
Sex has 2 unique values.
Ticket has 681 unique values.
Cabin has 147 unique values.
Embarked has 3 unique values.

In [20]:
# Another note from review - get value counts from each of columns with small number of options:
df_google.Survived.value_counts(dropna=False)

0    549
1    342
Name: Survived, dtype: int64

### 6. Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [21]:
df_excel = pd.read_excel('Excel_Exercises.xlsx')

#### assign the first 100 rows to a new dataframe, df_excel_sample

In [22]:
df_excel_sample = df_excel.head(100)

#### print the number of rows of your original dataframe

In [23]:
df_excel.shape[0]

7049

#### print the first 5 column names

In [24]:
df_excel.columns[:5]

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents'], dtype='object')

#### print the column names that have a data type of object

In [25]:
df_excel.select_dtypes(include=['object'])

     customer_id  gender partner dependents      payment_type churn
0     0002-ORFBO  Female     Yes        Yes      Mailed check    No
1     0003-MKNFE    Male      No         No      Mailed check    No
2     0004-TLHLJ    Male      No         No  Electronic check   Yes
3     0011-IGKFF    Male     Yes         No  Electronic check   Yes
4     0013-EXCHZ  Female     Yes         No      Mailed check   Yes
...          ...     ...     ...        ...               ...   ...
7044  9987-LUTYD  Female      No         No      Mailed check    No
7045  9992-RRAMN    Male     Yes         No  Electronic check   Yes
7046  9992-UJOEL    Male      No         No      Mailed check    No
7047  9993-LHIEB    Male     Yes        Yes      Mailed check    No
7048  9995-HOTOH    Male     Yes        Yes  Electronic check    No

[7049 rows x 6 columns]

#### compute the range for each of the numeric variables.

In [26]:
ndf = df_excel.describe().T
ndf['range'] = ndf['max'] - ndf['min']
ndf[['range']]

                    range
is_senior_citizen     1.0
phone_service         2.0
internet_service      2.0
contract_type         2.0
monthly_charges     100.5
total_charges      8666.0

# DATA PREPARATION EXERCISES

### 1. Use the function defined in acquire.py to load the iris data.

In [27]:
iris = acquire.get_iris_data()
iris.head()

,Unnamed: 0,species_id,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_name
0,0,1,1,5.1,3.5,1.4,0.2,setosa
1,1,1,2,4.9,3.0,1.4,0.2,setosa
2,2,1,3,4.7,3.2,1.3,0.2,setosa
3,3,1,4,4.6,3.1,1.5,0.2,setosa
4,4,1,5,5.0,3.6,1.4,0.2,setosa

#### Drop the species_id and measurement_id columns.

In [28]:
iris = iris.drop(columns=['species_id', 'measurement_id'])
iris.head()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species_name
0,0,5.1,3.5,1.4,0.2,setosa
1,1,4.9,3.0,1.4,0.2,setosa
2,2,4.7,3.2,1.3,0.2,setosa
3,3,4.6,3.1,1.5,0.2,setosa
4,4,5.0,3.6,1.4,0.2,setosa

#### Rename the species_name column to just species.

In [29]:
iris = iris.rename(columns={'species_name':'species'})
iris.head()

   Unnamed: 0  sepal_length  sepal_width  petal_length  petal_width species
0           0           5.1          3.5           1.4          0.2  setosa
1           1           4.9          3.0           1.4          0.2  setosa
2           2           4.7          3.2           1.3          0.2  setosa
3           3           4.6          3.1           1.5          0.2  setosa
4           4           5.0          3.6           1.4          0.2  setosa

#### Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [30]:
dummies = pd.get_dummies(iris.species)
iris = pd.concat([iris, dummies], axis=1)
iris = iris.drop(columns='species')
iris.head()

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,setosa,versicolor,virginica
0,0,5.1,3.5,1.4,0.2,1,0,0
1,1,4.9,3.0,1.4,0.2,1,0,0
2,2,4.7,3.2,1.3,0.2,1,0,0
3,3,4.6,3.1,1.5,0.2,1,0,0
4,4,5.0,3.6,1.4,0.2,1,0,0

#### Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [31]:
def prep_iris(df):
    df = df.drop(columns=['species_id', 'measurement_id'])
    df = df.rename(columns={'species_name':'species'})
    dummies = pd.get_dummies(df.species)
    df = pd.concat([iris, dummies], axis=1)
    df = iris.drop(columns='species')
    return df

### 2. Use the function defined in acquire.py to load the Titanic data.

In [32]:
t = acquire.get_titanic_data()
t.head()

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

#### Drop any unnecessary, unhelpful, or duplicated columns.

In [33]:
t = t.drop(columns='embarked')
t = t.drop(columns='class')
t = t.drop(columns=['age','deck'])

#### Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [34]:
dummy = pd.get_dummies(t[['sex', 'embark_town']], drop_first=True)
t = pd.concat([t, dummy], axis=1)
t = t.drop(columns=['sex','embark_town'])

#### Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [35]:
def prep_titanic(df):
    df = df.drop(columns='embarked')
    df = df.drop(columns='class')
    df = df.drop(columns=['age','deck'])
    dummy_df = pd.get_dummies(df[['sex', 'embark_town']], drop_first=True)
    df = pd.concat([df, dummy_df], axis=1)
    df = df.drop(columns=['sex','embark_town'])
    return df

### 3. Use the function defined in acquire.py to load the Telco data.

In [36]:
telco = acquire.get_telco_data()
telco.head()

,Unnamed: 0,internet_service_type_id,payment_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type
0,0,1,2,2,0002-ORFBO,Female,0,Yes,Yes,9,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,Mailed check,DSL
1,1,1,2,1,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,Mailed check,DSL
2,2,2,1,1,0004-TLHLJ,Male,0,No,No,4,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Electronic check,Fiber optic
3,3,2,1,1,0011-IGKFF,Male,1,Yes,No,13,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Electronic check,Fiber optic
4,4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Mailed check,Fiber optic

In [37]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                7043 non-null   int64
 1   internet_service_type_id  7043 non-null   int64
 2   payment_type_id           7043 non-null   int64
 3   contract_type_id          7043 non-null   int64
 4   customer_id               7043 non-null   object
 5   gender                    7043 non-null   object
 6   senior_citizen            7043 non-null   int64
 7   partner                   7043 non-null   object
 8   dependents                7043 non-null   object
 9   tenure                    7043 non-null   int64
 10  phone_service             7043 non-null   object
 11  multiple_lines            7043 non-null   object
 12  online_security           7043 non-null   object
 13  online_backup             7043 non-null   object
 14  device_protection         7043 non-null   object
 15  tech_support              7043 non-null   object
 16  streaming_tv              7043 non-null   object
 17  streaming_movies          7043 non-null   object
 18  paperless_billing         7043 non-null   object
 19  monthly_charges           7043 non-null   float64
 20  total_charges             7043 non-null   object
 21  churn                     7043 non-null   object
 22  contract_type             7043 non-null   object
 23  payment_type              7043 non-null   object
 24  internet_service_type     7043 non-null   object
dtypes: float64(1), int64(6), object(18)
memory usage: 1.3+ MB

In [38]:
telco.total_charges = telco.total_charges.str.replace(' ','0')
#telco.total_charges[telco.total_charges == ' ']
telco.total_charges = telco.total_charges.astype('float')

In [39]:
telco.total_charges

0        593.30
1        542.40
2        280.85
3       1237.85
4        267.40
         ...
7038     742.90
7039    1873.70
7040      92.75
7041    4627.65
7042    3707.60
Name: total_charges, Length: 7043, dtype: float64

#### Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [40]:
telco[['contract_type_id','contract_type']].value_counts(dropna=False)

contract_type_id  contract_type
1                 Month-to-month    3875
3                 Two year          1695
2                 One year          1473
dtype: int64

In [41]:
telco = telco.drop(columns=['internet_service_type_id', 'payment_type_id', 'contract_type_id'])
telco.head()

,Unnamed: 0,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type
0,0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,...,Yes,Yes,No,Yes,65.6,593.30,No,One year,Mailed check,DSL
1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,...,No,No,Yes,No,59.9,542.40,No,Month-to-month,Mailed check,DSL
2,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Electronic check,Fiber optic
3,3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Electronic check,Fiber optic
4,4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,...,Yes,Yes,No,Yes,83.9,267.40,Yes,Month-to-month,Mailed check,Fiber optic

#### Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [42]:
dummies = pd.get_dummies(telco[['gender','partner', 'dependents', 'phone_service','paperless_billing', 'churn']], drop_first=True)
telco = pd.concat([telco, dummies], axis=1)
telco = telco.drop(columns=['gender', 'partner', 'dependents', 'phone_service','paperless_billing', 'churn'])
telco

,Unnamed: 0,customer_id,senior_citizen,tenure,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,...,total_charges,contract_type,payment_type,internet_service_type,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,paperless_billing_Yes,churn_Yes
0,0,0002-ORFBO,0,9,No,No,Yes,No,Yes,Yes,...,593.30,One year,Mailed check,DSL,0,1,1,1,1,0
1,1,0003-MKNFE,0,9,Yes,No,No,No,No,No,...,542.40,Month-to-month,Mailed check,DSL,1,0,0,1,0,0
2,2,0004-TLHLJ,0,4,No,No,No,Yes,No,No,...,280.85,Month-to-month,Electronic check,Fiber optic,1,0,0,1,1,1
3,3,0011-IGKFF,1,13,No,No,Yes,Yes,No,Yes,...,1237.85,Month-to-month,Electronic check,Fiber optic,1,1,0,1,1,1
4,4,0013-EXCHZ,1,3,No,No,No,No,Yes,Yes,...,267.40,Month-to-month,Mailed check,Fiber optic,0,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,9987-LUTYD,0,13,No,Yes,No,No,Yes,No,...,742.90,One year,Mailed check,DSL,0,0,0,1,0,0
7039,7039,9992-RRAMN,0,22,Yes,No,No,No,No,No,...,1873.70,Month-to-month,Electronic check,Fiber optic,1,1,0,1,1,1
7040,7040,9992-UJOEL,0,2,No,No,Yes,No,No,No,...,92.75,Month-to-month,Mailed check,DSL,1,0,0,1,1,0
7041,7041,9993-LHIEB,0,67,No,Yes,No,Yes,Yes,No,...,4627.65,Two year,Mailed check,DSL,1,1,1,1,0,0
7042,7042,9995-HOTOH,0,63,No phone service,Yes,Yes,Yes,No,Yes,...,3707.60,Two year,Electronic check,DSL,1,1,1,0,0,0

In [43]:
dum = pd.get_dummies(telco.contract_type)
telco = pd.concat([telco, dum], axis=1)
telco = telco.drop(columns='contract_type')
telco.head()

,Unnamed: 0,customer_id,senior_citizen,tenure,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,...,internet_service_type,gender_Male,partner_Yes,dependents_Yes,phone_service_Yes,paperless_billing_Yes,churn_Yes,Month-to-month,One year,Two year
0,0,0002-ORFBO,0,9,No,No,Yes,No,Yes,Yes,...,DSL,0,1,1,1,1,0,0,1,0
1,1,0003-MKNFE,0,9,Yes,No,No,No,No,No,...,DSL,1,0,0,1,0,0,1,0,0
2,2,0004-TLHLJ,0,4,No,No,No,Yes,No,No,...,Fiber optic,1,0,0,1,1,1,1,0,0
3,3,0011-IGKFF,1,13,No,No,Yes,Yes,No,Yes,...,Fiber optic,1,1,0,1,1,1,1,0,0
4,4,0013-EXCHZ,1,3,No,No,No,No,Yes,Yes,...,Fiber optic,0,1,0,1,1,1,1,0,0

In [44]:
telco.multiple_lines = telco.multiple_lines.str.replace('No phone service', '0').str.replace('Yes', '2').str.replace('No', '1').astype('int')
telco.online_security = telco.online_security.str.replace('No internet service', '0').str.replace('Yes', '1').str.replace('No', '0').astype('int')
telco.online_backup = telco.online_backup.str.replace('No internet service', '0').str.replace('Yes', '1').str.replace('No', '0').astype('int')
telco.device_protection = telco.device_protection.str.replace('No internet service', '0').str.replace('Yes', '1').str.replace('No', '0').astype('int')
telco.tech_support = telco.tech_support.str.replace('No internet service', '0').str.replace('Yes', '1').str.replace('No', '0').astype('int')
telco.streaming_tv = telco.streaming_tv.str.replace('No internet service', '0').str.replace('Yes', '1').str.replace('No', '0').astype('int')
telco.streaming_movies = telco.streaming_movies.str.replace('No internet service', '0').str.replace('Yes', '2').str.replace('No', '0').astype('int')

In [45]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             7043 non-null   int64
 1   customer_id            7043 non-null   object
 2   senior_citizen         7043 non-null   int64
 3   tenure                 7043 non-null   int64
 4   multiple_lines         7043 non-null   int64
 5   online_security        7043 non-null   int64
 6   online_backup          7043 non-null   int64
 7   device_protection      7043 non-null   int64
 8   tech_support           7043 non-null   int64
 9   streaming_tv           7043 non-null   int64
 10  streaming_movies       7043 non-null   int64
 11  monthly_charges        7043 non-null   float64
 12  total_charges          7043 non-null   float64
 13  payment_type           7043 non-null   object
 14  internet_service_type  7043 non-null   object
 15  gender_Male            7043 non-null   uint8
 16  partner_Yes            7043 non-null   uint8
 17  dependents_Yes         7043 non-null   uint8
 18  phone_service_Yes      7043 non-null   uint8
 19  paperless_billing_Yes  7043 non-null   uint8
 20  churn_Yes              7043 non-null   uint8
 21  Month-to-month         7043 non-null   uint8
 22  One year               7043 non-null   uint8
 23  Two year               7043 non-null   uint8
dtypes: float64(2), int64(10), object(3), uint8(9)
memory usage: 887.4+ KB

In [46]:
dum = pd.get_dummies(telco.internet_service_type)
telco = pd.concat([telco, dum[['DSL', 'Fiber optic']]], axis=1)
telco.head()

,Unnamed: 0,customer_id,senior_citizen,tenure,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,...,partner_Yes,dependents_Yes,phone_service_Yes,paperless_billing_Yes,churn_Yes,Month-to-month,One year,Two year,DSL,Fiber optic
0,0,0002-ORFBO,0,9,1,0,1,0,1,1,...,1,1,1,1,0,0,1,0,1,0
1,1,0003-MKNFE,0,9,2,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0
2,2,0004-TLHLJ,0,4,1,0,0,1,0,0,...,0,0,1,1,1,1,0,0,0,1
3,3,0011-IGKFF,1,13,1,0,1,1,0,1,...,1,0,1,1,1,1,0,0,0,1
4,4,0013-EXCHZ,1,3,1,0,0,0,1,1,...,1,0,1,1,1,1,0,0,0,1

In [47]:
dum = pd.get_dummies(telco.payment_type)
telco = pd.concat([telco, dum], axis=1)
telco.head()

,Unnamed: 0,customer_id,senior_citizen,tenure,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,...,churn_Yes,Month-to-month,One year,Two year,DSL,Fiber optic,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check
0,0,0002-ORFBO,0,9,1,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,1
1,1,0003-MKNFE,0,9,2,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
2,2,0004-TLHLJ,0,4,1,0,0,1,0,0,...,1,1,0,0,0,1,0,0,1,0
3,3,0011-IGKFF,1,13,1,0,1,1,0,1,...,1,1,0,0,0,1,0,0,1,0
4,4,0013-EXCHZ,1,3,1,0,0,0,1,1,...,1,1,0,0,0,1,0,0,0,1

In [48]:
telco = telco.drop(columns=(['payment_type', 'internet_service_type']))
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 7043 non-null   int64
 1   customer_id                7043 non-null   object
 2   senior_citizen             7043 non-null   int64
 3   tenure                     7043 non-null   int64
 4   multiple_lines             7043 non-null   int64
 5   online_security            7043 non-null   int64
 6   online_backup              7043 non-null   int64
 7   device_protection          7043 non-null   int64
 8   tech_support               7043 non-null   int64
 9   streaming_tv               7043 non-null   int64
 10  streaming_movies           7043 non-null   int64
 11  monthly_charges            7043 non-null   float64
 12  total_charges              7043 non-null   float64
 13  gender_Male                7043 non-null   uint8
 14  partner_Yes                7043 non-null   uint8
 15  dependents_Yes             7043 non-null   uint8
 16  phone_service_Yes          7043 non-null   uint8
 17  paperless_billing_Yes      7043 non-null   uint8
 18  churn_Yes                  7043 non-null   uint8
 19  Month-to-month             7043 non-null   uint8
 20  One year                   7043 non-null   uint8
 21  Two year                   7043 non-null   uint8
 22  DSL                        7043 non-null   uint8
 23  Fiber optic                7043 non-null   uint8
 24  Bank transfer (automatic)  7043 non-null   uint8
 25  Credit card (automatic)    7043 non-null   uint8
 26  Electronic check           7043 non-null   uint8
 27  Mailed check               7043 non-null   uint8
dtypes: float64(2), int64(10), object(1), uint8(15)
memory usage: 818.6+ KB

#### Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [49]:
def prep_telco(telco):
    '''
    This function accepts the telco DataFrame and preps it...
    '''
    # fix monthly charges from string to floats
    telco.total_charges = telco.total_charges.str.replace(' ','0')
    telco.total_charges = telco.total_charges.astype('float')
    
    # drop foreign key columns
    telco = telco.drop(columns=['internet_service_type_id', 'payment_type_id', 'contract_type_id'])
    
    # split out 0 vs 1 columns
    dummies = pd.get_dummies(telco[['gender','partner', 'dependents', 'phone_service','paperless_billing', 'churn']], drop_first=True)
    telco = pd.concat([telco, dummies], axis=1)
    telco = telco.drop(columns=['gender', 'partner', 'dependents', 'phone_service','paperless_billing', 'churn'])
    
    # split out category columns
    dum = pd.get_dummies(telco.contract_type)
    telco = pd.concat([telco, dum], axis=1)
    telco = telco.drop(columns='contract_type')
    dum = pd.get_dummies(telco.internet_service_type)
    telco = pd.concat([telco, dum[['DSL', 'Fiber optic']]], axis=1)
    dum = pd.get_dummies(telco.payment_type)
    telco = pd.concat([telco, dum], axis=1)
    telco = telco.drop(columns=(['payment_type', 'internet_service_type']))
    
    # relabel final columns with 0 or 1 values
    telco.multiple_lines = telco.multiple_lines.str.replace('No phone service', '0').str.replace('Yes', '2').str.replace('No', '1').astype('int')
    telco.online_security = telco.online_security.str.replace('No internet service', '0').str.replace('Yes', '1').str.replace('No', '0').astype('int')
    telco.online_backup = telco.online_backup.str.replace('No internet service', '0').str.replace('Yes', '1').str.replace('No', '0').astype('int')
    telco.device_protection = telco.device_protection.str.replace('No internet service', '0').str.replace('Yes', '1').str.replace('No', '0').astype('int')
    telco.tech_support = telco.tech_support.str.replace('No internet service', '0').str.replace('Yes', '1').str.replace('No', '0').astype('int')
    telco.streaming_tv = telco.streaming_tv.str.replace('No internet service', '0').str.replace('Yes', '1').str.replace('No', '0').astype('int')
    telco.streaming_movies = telco.streaming_movies.str.replace('No internet service', '0').str.replace('Yes', '2').str.replace('No', '0').astype('int')
  
    return telco

In [50]:
tel2 = acquire.get_telco_data()
tel2 = prep_telco(tel2)
tel2

,Unnamed: 0,customer_id,senior_citizen,tenure,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,...,churn_Yes,Month-to-month,One year,Two year,DSL,Fiber optic,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check
0,0,0002-ORFBO,0,9,1,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,1
1,1,0003-MKNFE,0,9,2,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
2,2,0004-TLHLJ,0,4,1,0,0,1,0,0,...,1,1,0,0,0,1,0,0,1,0
3,3,0011-IGKFF,1,13,1,0,1,1,0,1,...,1,1,0,0,0,1,0,0,1,0
4,4,0013-EXCHZ,1,3,1,0,0,0,1,1,...,1,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,9987-LUTYD,0,13,1,1,0,0,1,0,...,0,0,1,0,1,0,0,0,0,1
7039,7039,9992-RRAMN,0,22,2,0,0,0,0,0,...,1,1,0,0,0,1,0,0,1,0
7040,7040,9992-UJOEL,0,2,1,0,1,0,0,0,...,0,1,0,0,1,0,0,0,0,1
7041,7041,9993-LHIEB,0,67,1,1,0,1,1,0,...,0,0,0,1,1,0,0,0,0,1
7042,7042,9995-HOTOH,0,63,0,1,1,1,0,1,...,0,0,0,1,1,0,0,0,1,0

In [51]:
df = acquire.get_telco_data()
df.head()

,Unnamed: 0,internet_service_type_id,payment_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,payment_type,internet_service_type
0,0,1,2,2,0002-ORFBO,Female,0,Yes,Yes,9,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,Mailed check,DSL
1,1,1,2,1,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,Mailed check,DSL
2,2,2,1,1,0004-TLHLJ,Male,0,No,No,4,...,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Electronic check,Fiber optic
3,3,2,1,1,0011-IGKFF,Male,1,Yes,No,13,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Electronic check,Fiber optic
4,4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Month-to-month,Mailed check,Fiber optic